.pin-view {
  position: relative;

  &__placeholder {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
  }
}
